.google-map

    .location-div
        position: absolute
        top: 10%
        left: 40vw
        display: flex
        flex-direction: column
        justify-content: center
        width: 50%
        height: 30px
        
        input
            padding-left: 15px
            width: 40%


        .location-search-input
            background-color: $fourth-color
            border-style: none
            border-radius: 10px
            height: 30px

        .autocomplete-dropdown-container
            width: 40%

    .gm-style-mtc
        display: none

 
        