.landingHeader 
    .headerPic 
        width: 100vw
        height: 100vh

    .head 
        top: 0 
        left: 0
        position: absolute
        color: $fifth-color
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 100vh
        width: 100vw
        line-height: 2
        background-color: rgba(23, 84, 120, 0.7)
        @media #{$mobile}
           height: 100vh 
      
        h1
            text-transform: uppercase
            font-size: 7rem
            @media #{$mobile}
                    font-size: 4rem
        p   
            font-size: 1.75rem
            color: $fifth-color
            @media #{$mobile}
                    font-size: 1rem
    
    div 
        text-align: center
        line-height: 2

    

.contact 
    border: none
    padding: 14px
    border-radius: 7px
    background-color: $secondary-color
    color: white
    cursor: pointer
    @media #{$mobile}
        width: 100%
        paddding: 12px
        padding: 24px
        margin-top: 12px
        font-size: 1.25rem
    &:hover 
        transform: scale(1.1)

main 
    margin-top: -3px
    .teamPic
        width: 100%
        height: auto
        opacity: 1
        max-width: 300px
        filter: grayscale(0%)
        transition: .5s ease
        backface-visibility: hidden
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        &:hover 
            opacity: 0.3
            filter: grayscale(90%)
        @media #{$mobile}
            margin-bottom: 32px 

    .Mission
        height: 50vh
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        background-color: $secondary-color
        @media #{$mobile}
            height: 50%

        section
            width: 60% 
            line-height: 2
            color: white
            @media #{$mobile}
                margin: 12px 0
        h2 
            font-size: 1.75rem
            text-transform: uppercase
            @media #{$mobile}
                font-size: 1rem
        p
         @media #{$mobile}
                font-size: .75rem
    .about
        height: 100%
        padding-top: 60px
        background-color: $primary-color
        color: white
        @media #{$mobile}
            padding-top: 0
        h2 
            font-size: 2rem
            text-transform: uppercase
            text-align: center
            margin-bottom: 40px

        .team-row
            display: flex
            flex-wrap: wrap
            justify-content: space-around
            width: 80%
            margin: 0 auto
           
            .team 
                position: relative
                margin: 30px 0
                width: 40%
                text-align: center
                @media #{$mobile}
                    width: 100% 
                .content 
                    transition: .5s ease
                    opacity: 0
                    position: absolute
                    line-height: 2
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                    -ms-transform: translate(-50%, -50%) 
                    a
                        padding-right: 10px
                        color: $fourth-color
                        font-size: 1.75rem
                &:hover .content
                    opacity: 1
                &:hover .teamPic
                    opacity: 0.3
                    filter: grayscale(90%)
                &:nth-child(1)
                    margin-top: 100px
                    @media #{$mobile}
                        margin: 0 
                &:nth-child(2)
                    margin-top: 200px
                    @media #{$mobile}
                        margin: 0
                &:nth-child(3)
                    margin-right: 150px
                    @media #{$mobile}
                        margin: 0
                &:nth-child(4)
                    margin-top: 200px
                    @media #{$mobile}
                        margin: 0
                &:nth-child(5)
                    margin-right: 750px
                    @media #{$mobile}
                        margin: 0

.services
    width: 100vw
    height: 100vh
    @media #{$mobile}
        width: 100%
    .service-one, .service-two
        width: 100vw
        height: 50vh
        display: flex
        color: white
        @media #{$mobile}
            height: 100vh
        div
            width: 50%
        h3 
            text-transform: uppercase
        @media #{$mobile}
            flex-direction: column
            div
                width: 100%
                height: 100%
            h3 
                font-size: 1.25rem
            p 
                font-size: .75rem
            
    .service-one
        @media #{$mobile}
            flex-direction: column
            div
                width: 100%
                height: 50%
        div:nth-child(1)
            img
                width: 100%
                height: 100%
        div:nth-child(2)
            background: $primary-color
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            line-height: 2
            padding: 20px
            h3
                font-size: 2rem
                @media #{$mobile}
                    font-size: 1.25rem

    .service-two
        @media #{$mobile}
            flex-direction: column-reverse
            align-self: flex-end
            div
                width: 100%
                height: 50%
        div:nth-child(1)
            background-color: $fourth-color
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            line-height: 2
            padding: 20px
            h3
                font-size: 2rem
                @media #{$mobile}
                    font-size: 1.25rem
        div:nth-child(2)
            img
                width: 100%
                height: 100%
.map
    width: 100vw
    height: 60vh
    position: relative
    img
        width: 100%
        height: 100%
        @media #{$mobile}
            height: 80%
    div
        position: absolute
        height: 100%
        width: 100%
        display: flex
        justify-content: center
        align-items: center 
        top: 0
        left: 0
        button 
            border: none
            padding: 14px
            border-radius: 7px
            background-color: $secondary-color
            color: white
            @media #{$mobile}
                width: 75%
                padding: 24px
                font-size: 1.25rem
                margin-bottom: 80px
 