
.MuiAppBar-colorPrimary
    background-color: $primary-color !important
    color: $secondary-color

.MuiDrawer-paperAnchorRight
    width: 15vw
    background-color: $fourth-color !important
    display: flex !important
    flex-direction: column !important
    align-items: space-evenly !important
    @media #{$tablet}
        width: 25vw
    @media #{$mobile}
        width: 35vw

    .drawerBtn
        margin-top: 20px
        @media #{$mobile}
            margin-top: 10px

.MuiIconButton-label
    color: $third-color
    
.drawerCloseBtn
    display: flex
    align-items: center
    justify-content: flex-start


.MuiList-root 
    height: 100%
    display: flex !important
    flex-direction: column !important

    div:last-child
        margin-top: 10vh !important
        @media #{$mobile}
            margin-top: 5vh !important

.MuiPaper-root
    z-index: 1 !important



